
.container-espelho {
        background-color: #333;
        border: 3px solid red;
        color: black;
        width: 1020px;
        height: 577px;
        padding: 15px;
        display: grid;
        gap: 5px;
        grid-template-areas:
            "header header header header"
            "sidebar content content content"
            "footer footer footer footer";
    }


.container-espelho > div {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
    height: 0vh;
    width: 138vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 225px;
    margin-left: -21px;
    margin-top: -15px;
}

#content {
    grid-area: content;
    width: 105vh;
    height: 69vh;
}

#footer {
    grid-area: footer;
}

.Container-sidebar {
border: solid 1px green;
}

.Container-sidebar__Espelho {
    border: solid 1px #d4d4d4;
    background-color: rgb(230 230 230);
}

.Container-sidebar__Ponto {
    color: black;
}

.container-espelho > p, h1 {
    color: black;
}