
.container-espelho {
    background-color: #333;
    border: 3px solid red;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 5px;
    grid-template-areas:
    'header header header'
    'sidebar content content'
    'footer footer footer'

}

.container-espelho > div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}