.container-espelho {
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    gap: 5px;
}

.container-espelho > div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}