.container-espelho {
        background-color: #333;
        border: 3px solid red;
        width: 1020px;
        height: 577px;
        padding: 15px;
        display: grid;
        gap: 5px;
        grid-template-areas:
            "header header header header"
            "sidebar content content content"
            "footer footer footer footer";
    }


.container-espelho > div {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid blue;
}

#header {
    grid-area: header;
    height: 0vh;
    width: 138vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 227px;
    margin-left: 0px;
    margin-top: 0px;
    height: 490px;
}

#content {
    grid-area: content;
    width: 702px;
    height: 491px;
}


#Container-sidebar > p {
    color: black;
}

.Container-sidebar__Espelho {
    border: solid 1px #d4d4d4;
    background-color: rgb(230 230 230);
}


#Container-sidebar {
    margin-top: 0px;
    margin-top: -20px;
    width: 266px;
    margin-left: -20px;
}