* {
  color: white;
  margin: 0;
  padding: 0;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color-scheme: linear-gradient(to left #000, #b721ff);
  }

  .card {
    padding: 2em;
  }

.box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  .container {
    width: 100;
    margin: 0 auto;
  }
  
  .container-login {
    width: 10%;
    min-height: 100;
  
    display: felx;
    flex-wrap: wrap;
    align-items: center;
  
    padding: 15px;
  
    background-color: #000
  }
  
  .login-form {
    width: 100px;
  }
  
  .wrap-login {
    width: 500px;
    height: 330px;
    position: absolute;
    background-color: #2e2b3f38;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 55px 70px 55px;
  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .login-form-title {
    display: block;
    font-size: 30px;
    color: rgb(255, 255, 255);

    padding-bottom: px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .login-form-title img {
    width: 90px;
  }
  
  
  .wraper-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad
  }

  
  .input {
    font-size: 14px;
    color: #ffffff;
    line-height: 1.2;
    display: block;
    color: #ffffff;
    border-right: transparent;
    border-top: transparent;
    border-left: transparent;
    border-bottom-color: #ffffff;

    width: 100%;
    height: 45px;
  
    background-color: transparent;
  
    padding: 0 5px;
  }

  .fake-input {
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    display: flex;
    border-right: transparent;
    border-top: transparent;
    border-left: transparent;
    border-bottom-color: #fff;
    width: 100%;
    height: 104px;
    background-color: transparent;
    padding: 0 9px;
    margin-top: 45px;
    font-size: 17px;
    font-weight: 350;
    margin-bottom: -45px;
}
  
  

  .title-label-usuario {
  
    display: flex;
    padding: 2px;
    margin-top: 41px;
    font-size: 17.5px;
    color: #fff;
    font-weight: 450;;
  }

  .title-label-senha {
  
    display: flex;
  
    padding: 2px;
    margin-top: 20px;
    font-size: 17.5px;
  }

  .style-entrar {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 550;
    font-family: inherit;
    background-color: #ffffffee;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 25px;
    color:#000000  }

  .style-criar-cadastro {
    display: inline;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 0px;
    padding: 5px;
  }


  .style-pergunta {
    display:inline-flex;
    margin-top: 15px;
  }

  .wrap-cadastro {
    width: 500px;
    height: 293px;
    position: absolute;
    background-color: #2e2b3f38;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 55px 348px 55px;
  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .style-cadastrar {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 550;
    font-family: inherit;
    background-color: #ffffffee;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 20px;
    color:#000000;
    align-self: center;
  }

  .input-confirma {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
  
    width: 100%;
    height: 45px;
  
    background-color: transparent;
  
    padding: 0 5px;

  }

  .style-senha-cadastro {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: flex;
  
    width: 30%;
    height: 35px;
  
    background-color: transparent;
  
    padding: 0 5px; 
  }

  .title-label-confirma {
  
    display: inline;
  
    padding: 100px;
    margin-top: 10px
  }

  .wrap-ponto {
    width: 500px;
    height: 257px;
    position: absolute;
    background-color:#2e2b3f38 ;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 55px 139px 55px;
  
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .style-ponto {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 550;
    font-family: inherit;
    background-color: #fffe;
    cursor: pointer;
    transition: border-color .25s;
    margin-top: 105px;
    margin-bottom: -26px;
    color: #000;
  }

  body {
    background-image: linear-gradient(
      to right,
      #2f3a4c,
      #141a28
    );
  }


  .Confirma-ponto {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);

  }

  .Alert-Confirm {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #2e2b3f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    font-family: inherit;
    font-size: 18px;
    text-align: center;
    width: 345px;
    height: 140px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.button-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.style-confirma-ponto, .style-confirma-ponto-fechar {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 0.6em;
    font-size: .9em;
    font-weight: 550;
    font-family: inherit;
    background-color: #fffe;
    cursor: pointer;
    transition: .25s;
    color: #000;
    margin: auto;
    margin-top: 65px;
    width: 100px;
}


.container__ponto__button {
  margin-top: -66px;
}

.frase-redireciona {
  height: 50px;
}

.identificaçao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 13px;
}

.horario {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 11px;
    margin-top: 2px;
}

.horario > p {
    border: solid 1px white;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 23px;
    margin-top: 44px;
    margin-left: -63px;
    width: 100%;
    font-weight: 400;
}

.horario > label {
    display: flex;
    padding: 2px;
    margin-top: 0px;
    font-size: 17.5px;
    color: #fff;
    font-weight: 400;
}

.Espelho > table {
  width: 100%;
  border-collapse: collapse;
}

.Espelho > table, th, td {
  border: 1px solid white;
}

.Espelho > th, td {
  padding: 15px;
  text-align: left;
}