.Grade-Menu-superior {
    display: flex;
}

.Container_Grade {
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.Container_Grade_Cabeçalho > th {
    color: black;
    padding: 25px;
    font-weight: 600;
}

.Container_Grade_Results > td {
    color: black;
    margin-right: -14px;
}

hr {
    height: 5px; /* Ajuste a altura conforme necessário */
    background-color: blue; /* Ajuste a cor conforme necessário */
    border: none;
}

.Container_Grade_Results > td {
    text-align: center;
    color: black;
    padding-right: 79px;
}
