.Grade-Menu-superior {
    display: flex;
}

.Container_Grade {
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.Container_Grade_Cabeçalho > th {
    color: black;
    padding: 25px;
    font-weight: 600;
}


.Container_Grade_Results > td {
    color: black;
}