.Grade-Menu-superior {
    display: flex;
}

.Container_Grade {
    border: solid 1px black;
    color: black;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}


.Container_Grade_Cabeçalho > th {
    color: black;
    padding: 5px;
}


.Container_Grade_Results > td {
    color: black;
}